<%- include('partials/header'); -%>

<section class="container-acc">
  <form class="acc">
    <span class="aqua"></span>
    <span class="aqua"></span>
    <span class="aqua"></span>
    <span class="aqua"></span>
    <span class="red"></span>
    <span class="red"></span>
    <span class="red"></span>
    <span class="red"></span>
    <span class="yellow"></span>
    <span class="yellow"></span>
    <span class="yellow"></span>
    <span class="yellow"></span>
    <span class="green"></span>
    <span class="green"></span>
    <span class="green"></span>
    <span class="green"></span>
    <div class="box-acc">
      <div class="acc-img">
        <img
          src="https://seud.org/wp-content/uploads/2020/06/avatar-nobody.png"
          id="imagenFondo"
        />
      </div>
      <div class="input_container">
        <label for="files" class="btn-file">Browse Files</label>
        <input
          id="files"
          onChange="preview_2(this);"
          style="display: none"
          type="file"
        />
      </div>
      <p>Last name: <%= user.lastName %></p>
      <p>First name: <%= user.firstName %></p>
      <p>Phone number: <%= user.phoneNumber %></p>
      <p>Email address: <%= user.email w%></p>
      <p>Manga qullik: <%= user.agree === "on" ? "rozi" : "norozi" %></p>
    </div>
  </form>
</section>

<script>

  var outImage = "imagenFondo";
  function preview_2(obj) {
    const fileName = this.files[0]?.name;
    const label = document.querySelector("label[for=files]");
    label.innerText = fileName ?? "Browse Files";
    if (FileReader) {
      var reader = new FileReader();
      reader.readAsDataURL(obj.files[0]);
      reader.onload = function (e) {
        var image = new Image();
        image.src = e.target.result;
        image.onload = function () {
          document.getElementById(outImage).src = image.src;
        };
      };
    } else {
      // Not supported
    }
  }
</script>

<%- include('partials/footer'); -%>
